.nav {
    &__container {
        height: 100px;
    }

    &__image-wrapper {
        border: 10px white solid;
        outline: 2px lightgrey solid;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        overflow: hidden;
    }
}